<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>></title>
</head>
<body>
<h1>welcome write text</h1>
<form action="/show2" method="get">
    <textarea name="text" style="width: 445px; height: 127px;"></textarea><br>
    <input type="checkbox" name="removepunc">REMOVE PUNC</input><br>
    <input type="checkbox" name="fullcap">CAPITALISE</input><br>
    <input type="checkbox" name="charactor">CHARACTOR COUNT</input><br>
    <button type="submit">submit</button>
</form>

</body>
</html>
